%h1{:id => "assignment_name"}=@assignment.name

=button_to("Delete Assignment", {action: "destroy", id: @assignment.id}, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-m btn-danger")