%div.alert
	EMS Basic is a concept example for a simple Education Management System. It allows for students to register with the system, 'sign in', enroll in a course, receive course assignments and submit course assignments. It also possible to create new courses and assignments, traditionally these would be behind an authentication wall, however that was out of scope for this project.
	%div
		=button_to("Get Started", students_path, method: :get, class: "btn btn-m btn-success")
		=button_to("Source Code", "https://www.github.com/islador/basic_ems", class: "btn btn-m btn-success")