%h1 EnrolledStudentAssignments#index
%p Find me in app/views/enrolled_student_assignments/index.html.haml

%p Display all of the student's assignments (those belonging to her/his enrolled_students, regardless of class)
