%h1=@course_assignment.name
%h2 Score: #{@student_assignment.earned_points}/#{@course_assignment.max_points}
=button_to("Submit Assignment", {action: "submit_assignment", id: params[:id]}, method: :put, class: "btn btn-m btn-success")
